<div class="py-8 md:py-12 bg-secondary text-center" id="page_banner" style="{% if settings.account_bg_color != blank %}background-color: {{ settings.account_bg_color  }}{% endif %}">
    <h2 class="md:leading-9 leading-8 text-grey-900 md:text-3xl text-2xl text-grey-900 font-bold m-0 max-w-x272 md:max-w-full w-full mx-auto text-center">{{ page.title }}</h2>
</div>